/*--------------------------------------------------------------
# Site Branding
--------------------------------------------------------------*/
.site-title,
.site-description {
    margin: 0;
    padding: 0;
}

.site-title {
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: bold;
}

.site-title a {
    color: #656565;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Site Info
--------------------------------------------------------------*/
.site-info a {
    color: #656565;
}