/*--------------------------------------------------------------
# Site Branding
--------------------------------------------------------------*/
.site-title,
.site-description {
    margin: 0;
    padding: 0;
}

.site-title {
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: bold;
}

.site-title a {
    color: #656565;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Site Info
--------------------------------------------------------------*/
.site-info a {
    color: #656565;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.hentry {
    border-bottom: 4px double #f3f3f3;
    margin-bottom: 90px;
    padding-bottom: 30px;
}

.entry-header {
    margin-bottom: 30px;
}

.entry-footer {
    margin-top: 30px;
}

/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/
.front-page-intro,
.front-page-marketing {
    border-bottom: 4px double #f3f3f3;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.front-page-marketing {
    margin-bottom: 90px;
}